<!-- Photo Carousel
============================-->
<div class="carousel slide" id="myCarousel">
	         
  <!-- Indicators -->
  <ol class="carousel-indicators">
	  <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
	  <li data-slide-to="1" data-target="#myCarousel"></li>
	  <li data-slide-to="2" data-target="#myCarousel"></li>
	 </ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		
		<div class="item active" id="slide1">
      <%= image_tag("HarshalMediumColor.jpg") %>
			<div class="carousel-caption">
				<h4>Hi! I'm Harshal</h4>
				<p>I am Senior Technology Management Trainee at one of the well known MNC in Chennai,INDIA</p>
				<p></p>
			</div><!-- end carousel-caption-->
		</div><!-- end item -->
		
		<div class="item" id="slide2">
      <%= image_tag("HarshalMediumFlipped.jpg") %>
			<div class="carousel-caption">
				<h4>Its all about solving the real world problems</h4>
				<p>I am a passionate developer, specialized in making highly scalable Database backed Web and android Applications </p>
			</div><!-- end carousel-caption-->
		</div><!-- end item -->
		
		<div class="item" id="slide3">
      <%= image_tag("HarshalMediumColor.jpg") %>
			<div class="carousel-caption">
				<h4>Get in touch!</h4>
				<p>Drop me a note on harshal2802@gmail.com or give me a call on <br> 91-8960402085</p>
			</div><!-- end carousel-caption-->
		</div><!-- end item -->
	
	</div><!-- carousel-inner -->
	
	<!-- Controls -->
	<a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>
	<a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>
	
</div><!-- end myCarousel -->


<!-- Well
============-->

<div class="row" id="myWell">
	<div class="col-12">
		
		<div class="well">
			<div class="page-header">
				<h3>CAE Engineer, Ford Motors Pvt. Ltd<small> In an EESE division of Ford Motors Pvt. Ltd.<sup>&reg;</sup></small></h3>
            	<h3><small>Feb 2015 - Present</small></h3>
			</div><!-- end page-header -->
			
			<p class="lead">
			    <ul>
			            <li>Experienced in developing the code in m-Script, C, python and java which involves Object Oriented Programming concepts.</li>
			            <li>Model based development using MATLAB/Simulink environment.</li>
			            <li>Task involves Simulink Model development, Testing, development of 3D/2D Visualization of feature on real time road scenarios</li>
			            <li>Creation of General development environment to help in developing new features in Active Safety domain.</li>
			            <li>Worked on JAVA Open Street Map (JOSM) to export the data from server into MATLAB workspace to visualize the road profile to develop active safety feature for FORD vehicles.</li>
			    </ul>
			</p>
			
			<a href="" class="btn btn-large btn-primary" id="alertMe">View Roles and Responsibilities in detail</a>
		</div><!-- end well -->
		
	</div><!-- end col-12 -->
</div><!-- end bigCallout -->
<div class="row" id="myWell">
	<div class="col-12">
		
		<div class="well">
			<div class="page-header">
				<h3>Senior Technology Management Trainee<small> In an Engineering and R&D Services division of HCL Technologies<sup>&reg;</sup></small></h3>
            	<h3><small>September 2014 - Present</small></h3>
			</div><!-- end page-header -->
			
			<p class="lead">
			    <ul>
			        
			            <li>Review, verification and Testing for Aircraft Software.</li>
			            <li>Worked for automation using VB scripts on Microsoft excel.</li>
			            <li>MATLAB modeling for different requirements for aircraft control system</li>
			     </ul>
			</p>
			
			<a href="" class="btn btn-large btn-primary" id="alertMe">View Roles and Responsibilities in detail</a>
		</div><!-- end well -->
		
	</div><!-- end col-12 -->
</div><!-- end bigCallout -->


<!-- Tabs and Accordion
==========================-->
<div class="row" id="moreInfo">
               
	<div class="col-sm-8">
    	<h3>My Projects</h3>
    	
    	<div class="tabbable">
            
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">General Development Environment</a></li>
                <li><a href="#tab2" data-toggle="tab">Wrong Way Alert</a></li>
                <li><a href="#tab3" data-toggle="tab">Data Dictionary Tool</a></li>
                <li><a href="#tab4" data-toggle="tab">BTech Final Year Project</a></li>
            </ul><!-- end tabs -->
            
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                    <h4><br>General Development Environment : Ford Motors</h4>
                    <h4><small>Client is one of the largest OEM in Automotive Industry, <a href="www.ford.com" target="_blank">Ford Motors Pvt. Ltd.</a></small></h4>
                    <ul>
                    	<li>Local Onsite consultant for Model based development using <a href="http://in.mathworks.com/products/matlab/" target="_blank">Matlab</a> and <a href="http://in.mathworks.com/products/simulink/" target="_blank">Simulink</a></li>
                      <li>Responsible for developing programs in mScripts which involves Object Oriented Programming(OOPs) concepts and Simulink,<a href="http://in.mathworks.com/products/stateflow/" target="_blank">StateFlow</a> models</li>  
                      <li>GDE involves use of real road data from Java Open Street Maps(<a href="https://josm.openstreetmap.de/" target="_blank">JOSM</a>) to Simulate the 2D/3D Visualization real road profile</li>
                      <li>Created a JOSM to matlab parser to get the data in required format to use in Matlab</li>
                    </ul>                                               
                </div><!-- end tab1 -->
                           
                <div class="tab-pane fade" id="tab2">
            	    <h4><br>Wrong Way Alert : Ford Motors</h4>
                  <h4><small>Client is one of the largest OEM in Automotive Industry, <a href="www.ford.com" target="_blank">Ford Motors Pvt. Ltd.</a></small></h4>
                  <ul>
                	  <li>Local Onsite consultant for Model based development using <a href="http://in.mathworks.com/products/matlab/" target="_blank">Matlab</a> and <a href="http://in.mathworks.com/products/simulink/" target="_blank">Simulink</a></li>
                	  <li>Responsible for developing algorithms to implement specific features using Matlab, StateFlow and Simulink</li>
                	  <li>Task involves Testing, Varification and Validation of current model under development</li>
                	  <li>Developed Model in loop test enviornment setup for the current system</li>
                  </ul>                              
                </div><!-- end tab2 --> 
                           
                <div class="tab-pane fade" id="tab3">
                  <h4><br>Data Dictionary Tool - Developed using VBA </h4>
                  <h4><small>Client is one of the world’s largest suppliers of aerospace and defense products, <a href="https://en.wikipedia.org/wiki/UTC_Aerospace_Systems" target="_blank">UTC Aerospace Systems</a></small></h4>
                  <ul>
                    <li>Requirement management tool developed using VBA in Microsoft Excel</li>
                    <li>Automation tool for work on Aircraft Software requirements of the order of five to six Thousand</li>  
                    <li>To help understanding the change in requirements as compare to base lined documents provided and it generates the detailed report on the same</li>  
                  </ul>                             
                </div><!-- end tab3 -->  
                           
                <div class="tab-pane fade" id="tab4">
                  <h4><br>Quantum Dot Cellular Automata   <small>August’13-April’14</small></h4>
                  <h4><small>Project Supervisor: Professor Bahniman Ghosh</small></h4>
                  <ul>
                    <li>Worked for QCA combinational logic design with the help of QCADesigner software.</li>
                    <li>Main AIM of research to come up with efficient logic design in Quantum Dot Cellular Autometa.</li>  
                    <li>In this project we presented the basic theory of Quantum Dot Cellular Automata (QCA) and QCA Clocking.</li> 
                    <li>We implemented QCA to design basic gates like latches, flip-flops, counters and registers.</li>
                  </ul>                              
                </div><!-- end tab4 -->  
                       
            </div><!-- end tab-content -->
                   
      </div><!-- end tabbable -->
  </div><!-- end col-sm-9 -->
              
    <div class="col-sm-4">
    	<h3>Education</h3>
    	
        <div class="panel-group" id="accordion">
        	<div class="panel panel-default">
            	<div class="panel-heading">
                	<h4 class="panel-title">
                    	<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">B.Tech</a>
                	</h4>
            	</div>
            	<div id="collapseTwo" class="panel-collapse collapse">
                	<div class="panel-body">
                    	<p>Electrical Engineering<br><a href="http://www.iitk.ac.in/" target="_blank">Indian Institute Of Technology Kanpur</a><br> <a href="http://www.iitk.ac.in/eeold/Assets/docs/btech.pdf" target="_blank">Learn more about the course</a></p>
                	</div>
            	</div>
        	</div><!-- end second panel -->
        	
        	<div class="panel panel-default">
              <div class="panel-heading">
                	<h4 class="panel-title">
                    	<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">HSC/SSC</a>
                	</h4>
            	</div>
            	<div id="collapseThree" class="panel-collapse collapse">
                	<div class="panel-body">
                    	<p>MP Board of Secondary Education<a href="http://mpbse.nic.in/" target="_blank">Learn more.</a></p>
                	</div>
            	</div>
        	</div><!-- end third panel -->
        	
    	</div><!-- end accordion -->              
	
	</div><!-- end col-sm-4 -->
	       
</div><!-- end row -->
